{% load humanize %}

<div class="col-lg-4 col-sm-6 d-flex">
    <div class="card card_custom mb-4 flex-fill">
        <a class="color_link text-decoration-none" href="/tour/{{ key }}">
            <div class="embed-responsive embed-responsive-16by9">
                <img class="card-img-top embed-responsive-item"
                     src="{{ value.picture }}"
                     alt="picture {{ value.country }}_tour_{{ key }}"/>
            </div>
            <div class="card-body">
                <p class="h5 card-title font-weight-bold">{{ value.title }}</p>
                <p class="card-text">
                    {{ value.description | truncatechars:50}}
                </p>
                <div class="my_distance_p">
                    <p><b>Звёзд: {{ value.stars }}★</b></p>
                    <p><b>Страна:</b> <i>{{ value.country }}</i></p>
                    <p><b>Ночей:</b> <i>{{ value.nights }}</i></p>
                    <p><b>Отправление:</b> <i>{{ value.date }}</i></p>
                    <p><b>Цена:</b> <i>{{ value.price | intcomma }} Р</i></p>
                </div>
            </div>
        </a>
    </div>
</div>