{% extends 'tours/sample_main.html' %}
{% load humanize %}
{% block my_title %}Stepik tours{% endblock %}

{% block my_body %}
    <main class="container mt-3">
        <h1 class="display-5 mt-4">Летим из <b>{{ city }}</b></h1>
        <p class="mb-4">
            <b>Найдено {{ count_tours }} туров,</b>
            от {{ min_price | intcomma }}
            до {{ max_price | intcomma }}
            и от {{ min_night }} ночей
            до {{ max_night }} ночей
        </p>
        <!-- CARDS -->
        <div class="row mt-5">
            {% for key, value in tours_from_city.items %}
                {% include "tours/card_tour.html" %}
            {% endfor %}
        </div>
    </main>
{% endblock %}