{% extends 'tours/sample_main.html' %}
{% load static %}
{% load humanize %}
{% block my_title %}tours main{% endblock %}

{% block my_body %}
    <main class="container mt-3">
    <!-- HERO -->
        <section class="bg-custom jumbotron mt-4"
                 style="background-image: url({% static 'tours/img/slide_1.png' %})">
            <div class="text-center font-weight-bold">
                <h1 class="display-4">Всякие туры</h1>
                <p class="lead">{{ subtitle }}</p>
                <p class="mt-5 w-50 mx-auto">{{ description }}</p>
            </div>
        </section>
        <!-- CARDS -->
        <div class="row mt-5">
            {% for key, value in tours_random.items %}
               {% include "tours/card_tour.html" %}
            {% endfor %}
        </div>
    </main>
{% endblock %}