.my_distance_p > p {
    margin-bottom: 0.2em;
}

.bg-custom {
    background-position: center;
    background-size: cover;
}

.color_link {color: black}

.card_custom:hover {
    transform: scale(1.08);
    transition: transform 0.3s ease;
    background: #373737;
    .color_link {color: white}
}

.navbar-brand:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

@media screen and (max-width: 576px) {
    .custom_extra_small {width: 400px;}
    .display-4, .display-3 {
        font-size: 30px;
        font-weight: bold;
    }
}
